In [222]:
import pandas as pd
from pathlib import Path
import hvplot.pandas
import numpy as np
import ipywidgets
from ipywidgets import interact

In [230]:
bank_path = Path("c:/Users/amirh/Project-1/Data/Raw/Bank_Customer_retirement.csv")

In [231]:
retirement_data = pd.read_csv(bank_path)

In [232]:
retirement_data=retirement_data.drop(columns=["Customer ID","Retire"])

In [233]:
retirement_data= retirement_data.astype(int)

In [234]:
retirement_data_sorted= retirement_data.sort_values(by='Age')

In [240]:
retirement_data_sorted=retirement_data_sorted.reset_index()

In [242]:
retirement_data_sorted.drop(columns=['index'], inplace=True)

In [243]:
retirement_data_sorted.head()

   Age  401K Savings
0   25        430374
1   25        309960
2   26        284409
3   29        331381
4   30        459592

In [244]:
bins = [20, 29, 39, 49, 67, 100]
labels =["20's", "30's", "40's",'50-67', '67+']

In [251]:
retirement_data_sorted['Groups'] = pd.cut(retirement_data_sorted['Age'], bins=bins, labels=labels)

In [253]:
retirement_data_sorted.head()

   Age  401K Savings Groups
0   25        430374   20's
1   25        309960   20's
2   26        284409   20's
3   29        331381   20's
4   30        459592   30's

In [254]:
retirement_group_data = sorted(retirement_data_sorted.Groups.unique().tolist())

In [269]:
def account_comparison(Groups):
    df = retirement_data_sorted[retirement_data_sorted['Groups'] == Groups]
    chart = df.hvplot(x='Age', 
                     y='401K Savings', 
                     kind='scatter').opts(fontscale=1, width=800, height=500, title='401K Balances by Group')
    return chart

interact(account_comparison, Groups=retirement_group_data)

interactive(children=(Dropdown(description='Groups', options=("20's", "30's", "40's", '50-67', '67+'), value="â€¦